In [4]:
#db
import requests
import pandas as pd
import json

In [5]:
island = 'Torgersen'
bill_length_mm = 45
bill_depth_mm = 16
flipper_length_mm = 223
body_mass_g = 5950
sex = 'Male'
a = requests.get(f'http://127.0.0.1:8000/prediction?island={island}&bill_length_mm={bill_length_mm}&bill_depth_mm={bill_depth_mm}&flipper_length_mm={flipper_length_mm}&body_mass_g={body_mass_g}&sex={sex}').json()

In [18]:
df = pd.DataFrame(requests.get(f'http://127.0.0.1:8000/df').json())
df['body_mass_g'].describe()

count     342.000000
mean     4201.754386
std       801.954536
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4750.000000
max      6300.000000
Name: body_mass_g, dtype: float64

In [14]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,None
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [6]:
a

['Gentoo']